@font-face {
    font-family: 'cursive';
    src: url('../../assets/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
  }
  
.hero-text{
    font-family: cursive !important;
    z-index: 5;
}
.home2-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0,0.3); 
}